.searchBar{
    display: flex;
    flex-direction: column;
    height: 94vh;
    width: 16vw;
    padding-left: 5px;
    background-color: #98c798;
    font-family: open_sanslight, sans-serif;
    border-right: 1px solid black;
}

.checkboxFieldset{
    display: flex;
    flex-direction: column;
    border: 1px solid #448044;
    width: 88%;
}

.dietCheck{
    margin-top: 5px;
}

.searchDiv{
    padding-bottom: 15px;
}

.searchDiv p{
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.searchDiv input{
    width: 95%;
    height: 20px;
    font-family: open_sanslight, sans-serif;
    font-size: 1rem;
}

.filterDiv p{
    margin-bottom: 5px;
}

.filterP{
    margin-bottom: 0;
    font-size: 1.1rem;
}

.fieldset{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
    width: 91%;
    border: 1px solid #448044;
}

.orderP{
    margin-top: 25px;
    font-size: 1.1rem;
}

.select{
    width: 50%;
    height: 22px;
    font-size: .9rem;
}

.select option{
    font-size: .9rem;
}