.mainDiv{
    margin-top: 30vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://img.freepik.com/fotos-premium/libro-cocina-ingredientes-sobre-mesarecetario_434193-6673.jpg?w=2000);
}

.title{
    margin-top: 12vh;
    height: 5vh;
    font-family: open_sanslight, sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 200;
    text-align: center;
    text-shadow: black 1px 0 10px;
}

.button{
    padding: 0 20px;
    height: 6vh;
    background-color: #448044;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    box-shadow: black 1px 0 10px;
}

.button:hover{
    background-color: #3d993d;
    cursor: pointer;
}

.button:active{
    background-color: white;
    color: #448044;
}